include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include Makefile
include RELEASING.md
include SECURITY.md
include requirements.txt
include requirements-dev.txt
recursive-include examples *.py
recursive-include tests *.py
recursive-include .github *.yml
